<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 style="text-align: center; font-weight: bold;" class="display-3">COVID-19 <img src="../../../assets/pic/thailand_640.png" alt=""
          width="100px;"> THAILAND</h1>
      <div class="row">
        <div class="col-md-6">
          <img src="../../../assets/pic/thailand-map.png" alt="" width="600px;">
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <div class="card" style="background-color: #F7518D; border-radius: 10px;">
                <div class="card-body">
                  <p style="text-align: center; font-size: 20pt; color: white; font-weight: bold;">ผู้ติดเชื้อ</p>
                  <p style="text-align: center; font-size: 50pt; color: white; font-weight: bold;">114</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card" style="background-color: #FFC300; border-radius: 10px;">
                <div class="card-body">
                  <p style="text-align: center; font-size: 20pt; color: white; font-weight: bold;">รักษาในรพ.</p>
                  <p style="text-align: center; font-size: 50pt; color: white; font-weight: bold;">76</p>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <div class="card" style="background-color: #7DD156; border-radius: 10px;">
                <div class="card-body">
                  <p style="text-align: center; font-size: 20pt; color: white; font-weight: bold;">หายแล้ว</p>
                  <p style="text-align: center; font-size: 50pt; color: white; font-weight: bold;">37</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card" style="background-color: #546C78; border-radius: 10px;">
                <div class="card-body">
                  <p style="text-align: center; font-size: 20pt; color: white; font-weight: bold;">เสียชีวิต</p>
                  <p style="text-align: center; font-size: 50pt; color: white; font-weight: bold;">1</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
          felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
          massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>