<nav class="navbar navbar-expand-lg background-base-3 font-Kanit">
  <div class="moph">
    <img src="../../../assets/pic/logo-big.png" class="moph-img" alt="">
  </div>
  <div style="float: left;width:50%;">
    <div class="text-align-right" >
      <button class="btn btn-light" [routerLink]="['/portal/command']" routerLinkActive="router-link-active" >
        เจ้าหน้าที่
      </button>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>

<div class="background-base-3 font-Kanit" style="height: auto;padding: 1rem 0rem 1em 0rem;color: white;">
  <div class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div class="text-left">
            <div class="mb-0">ศูนย์เทคโนโลยีสารสนเทศและการสื่อสาร สำนักงานปลัดกระทรวงสาธารณสุข</div>
          </div>
          <div class="text-left">
            <div class="mb-0">Copyright © covid19.moph.go.th 2020</div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 visit">
          view: {{visit}}
        </div>
      </div>
    </div>
  </div>
</div>
