<div class="container">
    <br>
    <h4>รายงานจำนวนเวชภัณฑ์สิ้นเปลืองตามเขตสุขภาพ โรงพยาบาลสังกัดสำนักงานปลัดกระทรวงสาธารณสุข [ณ วันที่ {{date}}]</h4>
    <br>
    <table class="table  table-hover table-sm" *ngFor="let b of beds" >
        <thead class="thead-light">
            <tr>
                <th colspan="12">เขต {{b.zone_code}}</th>
            </tr>
            <tr>
                <th rowspan="3">จังหวัด</th>
                <th rowspan="3"class="text-align-right">จำนวนโรงพยาบาล</th>
                <th colspan="10" class="text-align-center">เวชภัณฑ์สิ้นเปลือง</th>
            </tr>
            <tr>
                <th colspan="2" class="text-align-center">(1)MASK N95</th>
                <th colspan="2" class="text-align-center">(2)Sugical mask</th>
                <th colspan="2" class="text-align-center">(3)Gown</th>
                <th colspan="2" class="text-align-center">(4)Cover All</th>
                <th colspan="2" class="text-align-center">(5)Flavipiravir</th>
            </tr>
            <tr>
                <th  class="text-align-right">คงคลัง(ชิ้น)</th>
                <th  class="text-align-right">ใช้/เดือน(ชิ้น)</th>
                <th  class="text-align-right">คงคลัง(ชิ้น)</th>
                <th  class="text-align-right">ใช้/เดือน(ชิ้น)</th>
                <th  class="text-align-right">คงคลัง(ชิ้น)</th>
                <th  class="text-align-right">ใช้/เดือน(ชิ้น)</th>
                <th  class="text-align-right">คงคลัง(ชิ้น)</th>
                <th  class="text-align-right">ใช้/เดือน(ชิ้น)</th>
                <th  class="text-align-right">คงคลัง(ชิ้น)</th>
                <th  class="text-align-right">ใช้/เดือน(ชิ้น)</th>
            </tr>

        </thead>
        <tbody>
    
            <tr *ngFor="let i of b.detail">
                <td width="10%">{{i.province_name}}</td>
                <td class="text-align-right">{{i.count | number:'1.0-0'}}</td>
                <td class="text-align-right">{{i.mask_n95| number:'1.0-0'}}</td>
                <td class="text-align-right">{{i.mask_n95_used_month| number:'1.0-0'}}</td>
                <td class="text-align-right">{{i.sugical_mask| number:'1.0-0'}}</td>
                <td class="text-align-right">{{i.sugical_mask_used_month| number:'1.0-0'}}</td>
                <td class="text-align-right">{{i.water_resistance_gown| number:'1.0-0'}}</td>
                <td class="text-align-right">{{i.water_resistance_gown_used_month| number:'1.0-0'}}</td>
                <td class="text-align-right">{{i.cover_all| number:'1.0-0'}}</td>
                <td class="text-align-right">{{i.cover_all_used_month| number:'1.0-0'}}</td>
                <td class="text-align-right">{{i.med_flavipiravir_tab| number:'1.0-0'}}</td>
                <td class="text-align-right">{{i.med_flavipiravir_tab_used_month| number:'1.0-0'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="table-warning">
                <th>รวม</th>
                <th class="text-align-right">{{b.count| number:'1.0-0'}}</th>
                <th class="text-align-right">{{b.mask_n95| number:'1.0-0'}}</th>
                <th class="text-align-right">{{b.mask_n95_used_month| number:'1.0-0'}}</th>
                <th class="text-align-right">{{b.sugical_mask| number:'1.0-0'}}</th>
                <th class="text-align-right">{{b.sugical_mask_used_month| number:'1.0-0'}}</th>
                <th class="text-align-right">{{b.water_resistance_gown| number:'1.0-0'}}</th>
                <th class="text-align-right">{{b.water_resistance_gown_used_month| number:'1.0-0'}}</th>
                <th class="text-align-right">{{b.cover_all| number:'1.0-0'}}</th>
                <th class="text-align-right">{{b.cover_all_used_month| number:'1.0-0'}}</th>
                <th class="text-align-right">{{b.med_flavipiravir_tab| number:'1.0-0'}}</th>
                <th class="text-align-right">{{b.med_flavipiravir_tab_used_month| number:'1.0-0'}}</th>
            </tr>
        </tfoot>
    </table>
</div>
